#root {
  background-image: url('../assets/background-image.png');
  background-size: cover; /* Cubre completamente la pantalla */
  margin: 0;
  height: 100%;
  width: 100%;
  
}



.card {
  padding: 2em;
}

p {
  color: white;
}
