body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #C72C41);
  }

  .arrowImage {
    width: 0.7em;
    height: 0.7em;
  }

  .movie-language {
    background: none;
    color: white;
    border: none;
    margin-left: 40px;
    
  }
  .sort-by {
    background: none;
    color: white;
    border: none;
    margin-left: 20px;
    
  }

  .header {
    justify-content: center;
    background-color: #2D132C;
    height: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 100%;/* Ancho del 100% */
  position: fixed; /* Fija el header en la parte superior */
  z-index: 100; /* Asegura que el header esté encima de otros elementos */
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 75%;
  }

  .full-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .movie-cards {
    width: 75%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    margin: 40px 40px 0px 40px;
    padding: 10px;
    grid-template-rows: max-content;
    justify-content: center;
    
     
  }

  .movie-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Agrega esta propiedad */
    padding: 0px;
    height: 310px;
    width: 154px;
    margin-bottom: 20px;
    box-shadow: 0 8px 8px rgba(237, 224, 224, 0.2);
    border-radius: 2%;
    
  }

  .link-movie {
    height: 220px;
  
  }

  .img-movie {
    width: 154px;
    height: 220px;
    margin-bottom: 0px;
  }

  .poster-text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #C72C41;
    width: 154px;
    height: 90px;
    font-size: 0.8em; /* Tamaño de fuente relativo */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
  }

  .movie-title {
    margin: 5px;
  }

  .movie-date {
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2D132C;
  }

  .button-next {
    background: none;
    color: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
  }

  .button-next:hover {
    filter: drop-shadow(0 0 2em #C72C41);
  }


  .nextImage {
    width: 1.2em;
    height: 1.2em;
    margin-left: 20px;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Centrar verticalmente */
    margin-bottom: 20px;
    margin-top: 0px;

  }