.logo-container {
margin-left: 40px;
}
.container {
    background-color: #200C20;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    margin: 60px;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(219, 208, 208, 0.395);
}

.back-section {
    margin-top: 40px;
    padding: 20px;
}

.previous-arrow {
    width: 1em;
    height: 1em;
    margin: 0px 20px;
    background: none;
}

.back {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.card {
    width: 60%;
    margin: 0px;
    
}

.movie-title-detail {
font-size: 50px;
margin: auto;



}

.inner-card {
padding: 20px 0px;
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 60px;

}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    background-color: #EE4540;
    width: 55px;
    height:55px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(199, 122, 122, 0.395);

}

.date-detail {

    margin-left: 20px;
}

.movie-poster {
    width: 280px;
    height: 410px;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(219, 208, 208, 0.395);
}

.overview {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5; 
}


/* Estilos para dispositivos móviles (ancho de pantalla <= 1000px) */
@media screen and (max-width: 1000px) {
    .logo-container {
      margin: 0;
      display: flex;
      justify-content: center; /* Centra el contenido horizontalmente */
      align-items: center; /* Centra el contenido verticalmente */
    }
  
    .container {
      padding: 20px; /* Reduce el relleno para dispositivos móviles */
      margin: 0;
    }
  
    .back-section {
      margin: 0; /* Elimina el margen superior para dispositivos móviles */
    }
  
    .previous-arrow {
      margin: 0; /* Elimina el margen para dispositivos móviles */
    }
  
    .back {
      font-size: 12px; /* Reduce el tamaño del texto para dispositivos móviles */
    }
  
    .card {
      width: 100%; /* Ocupa el ancho completo del contenedor padre */
    }
  
    .movie-title-detail {
      font-size: 25px; /* Reduce el tamaño del título para dispositivos móviles */
    }
  
    .inner-card {
      margin-bottom: 20px; /* Reduce el espacio entre elementos */
    }
  
    .score {
      width: 45px;
      height: 45px;
      font-size: 18px;
    }
  
    .date-detail {
      margin-left: 10px; /* Reduce el margen izquierdo */
      font-size: 14px; /* Reduce el tamaño del texto */
    }
  
    .movie-poster {
      width: 100%; /* Ocupa el ancho completo del contenedor padre */
      height: auto; /* Se ajusta automáticamente a la relación de aspecto original */
    }
  
    .overview-title {
      font-size: 24px; /* Reduce el tamaño del título de descripción */
    }
  
    .overview {
      font-size: 16px; /* Reduce el tamaño del texto de descripción */
    }
  }