#root {
  background-image: url('C:\Users\Juan Viloria\Desktop\LABORATORIA\BOOTCAMP\5to-proyecto\DEV010-movie-challenge-fw\DEV010-movie-challenge-fw\src\assets\background-image.png');
  background-size: cover; /* Cubre completamente la pantalla */
  margin: 0;
  height: 100vh;
  width: 100%;
}



.card {
  padding: 2em;
}

p {
  color: white;
}
