body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #C72C41);
  }

  .arrowImage {
    width: 0.7em;
    height: 0.7em;
  }

  .movie-language {
    background: none;
    color: white;
    border: none;
    margin-left: 40px;
    outline: none !important;
  }
  .movie-language:hover {
    filter: drop-shadow(0 0 2em #C72C41);
  }
  .sort-by {
    background: none;
    color: white;
    border: none;
    margin-left: 20px;
    outline: none !important;
  }

  .sort-by:hover {
    filter: drop-shadow(0 0 2em #C72C41);
  }

  .header {
    justify-content: center;
    background-color: #2D132C;
    height: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 100%;/* Ancho del 100% */
  position: fixed; /* Fija el header en la parte superior */
  z-index: 100; /* Asegura que el header esté encima de otros elementos */
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .full-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;

  }

  .movie-cards {
    width: 60%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    align-items: center;
     background-color: #2D132C;
     box-shadow: 2px 2px 2px rgba(121, 109, 109, 0.2);
     border-radius: 1%;
  }

  .movie-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
    margin: 20px 15px;
    box-shadow: 0 2px 4px rgba(219, 208, 208, 0.395);
    border-radius: 1%;
    transition: transform 0.3s;
    
  }

  .movie-box:hover {
    transform: scale(1.1); /* Agrandar al pasar el mouse */
  }

  .link-movie {
    height: 284px;
  
  }

  .movie-img {
    width: 200px;
    height: 284px;
    margin-bottom: 0px;
  }

  .poster-text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #C72C41;
    width: 200px;
    height: 80px;
    font-size: 0.7em; /* Tamaño de fuente relativo */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
  }



  .movie-date {
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2D132C;
  }

  .button-next {
    background: none;
    color: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    outline: none !important;
  }

  .button-next:hover {
    filter: drop-shadow(0 0 2em rgba(250, 248, 248, 0.747));
  }


  .nextImage {
    width: 1em;
    height: 1em;
    margin-left: 20px;
  }
  
  .previousImage {
    width: 1em;
    height: 1em;
    margin-right: 20px;
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: grid; /* Centrar verticalmente */
    margin-bottom: 20px;
    margin-top: 20px;

  }