

  .full-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .movie-cards {
    width: 65%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    align-items: center;
     background-color: none;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     border-radius: 2%;
  }

  .movie-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 180px;
    margin: 15px 15px;
    box-shadow: 0 2px 4px rgba(219, 208, 208, 0.395);
    border-radius: 1%;
    transition: transform 0.3s;
    
  }

  .movie-box:hover {
    transform: scale(1.1); /* Agrandar al pasar el mouse */
  }

  .link-movie {
    height: 256px;
  
  }

  .movie-img {
    width: 180px;
    height: 256px;
    margin-bottom: 0px;
    border-radius: 2% 2% 0% 0%;
  }

  .poster-text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #C72C41;
    width: 180px;
    height: 80px;
    font-size: 0.7em; /* Tamaño de fuente relativo */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0% 0% 2% 2%;
  }



  .movie-date {
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2D132C;
  }

  .button-next {
    background: none;
    color: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    outline: none !important;
  }

  .button-next:hover {
    filter: drop-shadow(0 0 2em rgba(250, 248, 248, 0.747));
  }


  .nextImage {
    width: 1em;
    height: 1em;
    margin-left: 20px;
  }
  
  .previousImage {
    width: 1em;
    height: 1em;
    margin-right: 20px;
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: grid; /* Centrar verticalmente */
    margin-bottom: 20px;
    margin-top: 20px;

  }

  /*.search-bar-container {
    margin-top: 120px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    padding-left: 25px; 
    background: #490F22;
    background-image: url('../../assets/search-icon.png');
    background-size: 25px; 
    background-repeat: no-repeat;
    background-position: 10px center; 
    border: none ;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 62%;
    height: 40px;
    padding: 0px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
    text-indent: 30px;
  }

  .search-bar::placeholder {
    padding-left: 25px; 
  }*/

