.poster-container {
  position: relative;
}


.title-container {
  width: 95%;
  display: flex;
  
}

.posterHome {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.poster-title {
  position:absolute;
  top: 50%; /* Alinea el título en la mitad superior del contenedor */
  left: 50%;
 /* Alinea el título en el centro del contenedor */
  transform: translate(-50%, -50%); /* Centra el título tanto vertical como horizontalmente */
  z-index: 1; /* Coloca el título sobre la imagen */
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

  .full-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .movie-cards {
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    align-items: center;
     background-color: none;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     border-radius: 2%;
  }

  .movie-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 180px;
    margin: 15px 15px;
    box-shadow: 0 2px 4px rgba(219, 208, 208, 0.395);
    border-radius: 1%;
    transition: transform 0.3s;
    
  }

  .movie-box:hover {
    transform: scale(1.1); /* Agrandar al pasar el mouse */
  }

  .link-movie {
    height: 256px;
  
  }

  .movie-img {
    width: 180px;
    height: 256px;
    margin-bottom: 0px;
    border-radius: 2% 2% 0% 0%;
  }

  .poster-text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #C72C41;
    width: 180px;
    height: 80px;
    font-size: 0.7em; /* Tamaño de fuente relativo */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    justify-content: center;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0% 0% 2% 2%;
  }


  .movie-date {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2D132C;
    margin: 0px;
  }

  .movie-title {
    margin: 0px;
  }

  .button-next {
    background: none;
    color: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    outline: none !important;
  }

  .button-next:hover {
    filter: drop-shadow(0 0 2em rgba(250, 248, 248, 0.747));
  }


  .nextImage {
    width: 1em;
    height: 1em;
    margin-left: 20px;
    background: none;
  }
  
  .previousImage {
    width: 1em;
    height: 1em;
    margin-right: 20px;
    background: none;
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: grid; /* Centrar verticalmente */
    margin-bottom: 20px;
    margin-top: 20px;

  }

